python-dotenv==1.0.1 # For reading environment variables stored in .env file
langchain==0.3.14
langchain-chroma==0.2.0
langchain-openai==0.3.0 # For embeddings
unstructured==0.16.13 # Document loading
# onnxruntime==1.17.1 # chromadb dependency: on Mac use `conda install onnxruntime -c conda-forge`
# For Windows users, install Microsoft Visual C++ Build Tools first
# install onnxruntime before installing `chromadb`
chromadb==0.6.3 # Vector storage
openai==1.59.7 # For embeddings
tiktoken==0.8.0  # For embeddings
# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out. 
tokenizers==0.21.0
